extends ../layouts/base
include ../mixins/video


block content
    section.section-video
        .videos.container.grid.grid--3-cols.videos-list
            each potato in videoList
                .video-cell
                    +video(potato)
    nav 
        ul
            li
                a(href="videos/upload") Upload Video
