extends ../layouts/base
include ../mixins/review-page


block content
    section.review-section 
        .container
            .movie-reviews.grid.grid--2-cols
                each potato in reviewList
                    +review-page(potato)
                else
                    li Sorry nothing found. 
                nav 
                    ul
                        li
                            a(href="/reviews/upload") Upload Review