extends ../layouts/base

block content
    .container
        if errorMessage
            span=errorMessage
        form(method="POST", enctype="multipart/form-data")
            label(for="review") Review Movie File
            input(type="file", accept="image/*", required, id="review", name="review")
            input(placeholder="Movie Name", required, type="text", name="movieName", maxlength=50)
            input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags")
            input(placeholder="Bang's score for this Movie",required, type="number", min="0" max="5" step="0.5", name="bang_score" )
            input(placeholder="Bang's comment for this Moive.", required, type="text", name="bang_comment")
            input(placeholder="Jo's score for this Movie",required, type="number", min="0" max="5" step="0.5", name="jo_score")
            input(placeholder="Bang's comment for this Moive.", required, type="text", name="jo_comment")
            input(type="submit", value="Upload Review") 


