extends ../layouts/base
include ../mixins/review


block content
    .reviews
            h1 
             .review-title 📽 #{review.movieName} review
            +review(review)

block scripts
    script(src="/static/js/reviewRating.js") 
    script(src="/static/js/main.js") 
