extends ../layouts/base
include ../mixins/photo


block content
    .image-container
        .container
            .image-gallery
                each photo in photoList
                    +photo(photo)
                else
                    span.empty__message No Image found 
    .button 
        a(href="gallery/upload") Upload Image

//-   .image-gallery
//-                 a(href="img/gallery/img-1.jpg").img-1
//-                     ion-icon(name='expand-outline')
//-                 a(href="img/gallery/img-2.jpg").img-2
//-                     ion-icon(name='expand-outline')
//-                 a(href="img/gallery/img-3.jpg").img-3
//-                     ion-icon(name='expand-outline')
          