mixin review-page(review)
    a(href=`/reviews/${review.id}`)
      .review-page-mixin
        .review-page-poster
          img(src=review.fileUrl).poster-image
        .review-page-result
          .review-movieName #{review.movieName}
          .review-page-avgscore 
              ion-icon(name="star").review-page-star
              .score-avg AVG #{review.avg_score}
