mixin todo(dolist)
    div.each-list
        a(href=`/schedule/${dolist.id}/check`)
            ion-icon(name='checkmark')
        span  #{dolist.doto} 
        a(href=`/schedule/${dolist.id}/remove`)
            ion-icon(name='trash')

        