:root {
  --purple: #48457e;
  --middlepurple: #9775fa;
  --lightpurple: #8d81d4;
  --yellow: #ffd43b;
  --lightyellow: #fff3bf;
  --grey: rgb(175, 175, 224);
  --lightgrey: rgba(235, 255, 180, 0.486);
}
