extends layouts/base

block content
    .container
        .form-container.login-section
            if errorMessage
                span=errorMessage
            form(method="POST")
                input(placeholder="Username", name="username", type="text", required)
                input(placeholder="Password", name="password", type="password", required)
                input(type="submit", value="Login")
            
