.form-container {
  margin-top: 9.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container form {
  margin: 0 auto;
}

.form-container form .fileUpload {
  font-weight: 600;
  border-radius: 8px;
  font-size: 2.4rem;
  width: 32rem;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  display: block;
}

.form-container form input {
  width: 32rem;
}

.form-container form input:not([type="file"]) {
  font-weight: 500;
  border-radius: 8px;
  font-size: 1.8rem;
  display: block;
  padding: 1rem 0;
  text-align: center;
}
.form-container form input:not([type="file"]):not(:last-child),
.form-container form .fileUpload:not(:last-child) {
  margin-bottom: 25px;
}

.form-container form input[type="submit"] {
  background-color: var(--middlepurple);
  color: white;
  cursor: pointer;
  padding: 1.5rem 2rem;
  width: 100%;
}
.form-container .fileUpload {
  background-color: var(--yellow);
  color: var(--purple);
  cursor: pointer;
  padding: 3px 2px;
}

input {
  padding: 0;
}

.__data {
  margin-top: 4.8rem;
  max-width: 100rem;
  margin: 0 auto;
}

.__title {
  font-size: 4rem;
  font-weight: 600;
  padding: 1rem 0rem;
  color: var(--yellow);
}

.__when,
.__description {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.3;
  padding: 1rem 0rem;
  color: var(--lightyellow);
}

.__createdAt {
  color: var(--lightgrey);
}

.__owner {
  display: flex;
  justify-content: end;
  font-size: 1.8rem;
}
