.container.grid.grid--footer
        .logo-col
            a.footer-logo(href='#')
                img.logo(alt='hyosung logo' src='/img/logo.png')
            ul.social-links
                li
                    a.footer-link(href='#')
                        ion-icon.social-icon(name='logo-instagram')
                li
                    a.footer-link(href='#')
                        ion-icon.social-icon(name='logo-facebook')
                li
                    a.footer-link(href='#')
                        ion-icon.social-icon(name='logo-twitter')
            p.copyright
                | Copyright &copy; 2027 by SJ, All rights reserved.
        nav.nav-col
            p.footer-heading Video
            ul.footer-nav
                li
                a.footer-link(href='#') Create 
                li
                a.footer-link(href='#') Sign in
                li
                a.footer-link(href='#') iOS app
                li
                a.footer-link(href='#') Android app
        nav.nav-col
            p.footer-heading Gallery
            ul.footer-nav
                li
                a.footer-link(href='#') Create account
                li
                a.footer-link(href='#') Sign in
                li
                a.footer-link(href='#') iOS app
                li
                a.footer-link(href='#') Android app
        nav.nav-col
            p.footer-heading Schedule
            ul.footer-nav
                li
                a.footer-link(href='#') About Omnifood
                li
                a.footer-link(href='#') For Business
                li
                a.footer-link(href='#') Cooking partners
                li
                a.footer-link(href='#') Careers
        nav.nav-col
            p.footer-heading Review
            ul.footer-nav
                li
                a.footer-link(href='#') Recipe directory 
                li
                a.footer-link(href='#') Help center
                li
                a.footer-link(href='#') Privacy &amp; terms