header.header
    nav
        .logo-img-box
            a(href="/")
                img(src='../img/logo.png' class="logo-img")
    nav.main-nav
        ul.main-nav-list
            li
                a.main-nav-link(href='/videos') Videos
            li
                a.main-nav-link(href='/gallery') Gallery
            li
                a.main-nav-link(href='/schedule') Schedule
            li
                a.main-nav-link(href='/reviews') Review
            
            if loggedIn
                li
                    a.main-nav-link.Logout(href="/users/logout")  Logout
            else
                li
                    a.main-nav-link.Login(href="/login")  Login

    button.btn-mobile-nav
        i.fas.fa-bars.icon-mobile-nav(name='menu-outline')
        i.fas.fa-bars.icon-mobile-nav(name='close-outline')
