/* 1ren = 16px 임 브라우저 설정에서는! 우리가 설정한거랑 다름 - 이거 이용해서 크기 설정해라*/

/*******************************/
/*BELOW 400px = 25rem   /16해서 */
/*******************************/

@media (max-width: 40rem) {
  body {
    overflow: hidden;
  }
  .container {
    padding: 0rem;
  }
  .hero-img-box {
    width: 100%;
  }
  .hero-description {
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
  }
  .heading-primary {
    font-size: 3.8rem;
  }
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .video-thumb {
    width: 100%;
    height: 100%;
  }

  header {
    padding: 0 1rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    z-index: 888;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    text-align: center;
    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 1;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    color: darkgrey;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .footer-logo {
    display: none;
  }
  .form-container form input {
    width: 25rem;
  }
  .copyright {
    margin-top: 2.8rem;
    font-size: 1.4rem;
  }

  .logo-img {
    height: 7.6rem;
    padding-top: 0.2rem;
  }

  /**/
  .grid--3-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .to-page {
    font-size: 1.9rem;
    padding-top: 1rem;
  }

  .section-calendar {
    display: none;
  }

  .section-hero {
    padding: 0 1.5rem;
  }
  .section-video {
    padding: 5rem 1.5rem;
  }

  .videos {
    row-gap: 2rem;
    padding: 0 2rem;
  }

  .video-cell {
    height: 26rem;
  }

  .video-message {
    height: 8rem;
  }

  .section-gallery {
    padding: 4.8rem 1rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding: 0 2rem;
  }
  .gallery .gallery_img .photo-mixin {
    height: 13rem;
  }
  .section-wtd {
    padding: 4.8rem 1.5rem;
    font-size: 1.8rem;
  }

  .heading-secondary {
    text-align: center;
    font-size: 2.8rem;
  }

  .wtd-lists,
  .wd-lists {
    border: solid 2px var(--lightyellow);
    margin: 2rem;
    padding: 2rem 4rem;
    border-radius: 2rem;
  }

  .grid--3-cols {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0;
  }
}
