/* 1ren = 16px 임 브라우저 설정에서는! 우리가 설정한거랑 다름 - 이거 이용해서 크기 설정해라*/

/*******************************/
/*BELOW 400px = 25rem   /16해서 */
/*******************************/

@media (max-width: 40rem) {
  body {
    overflow: hidden;
  }
  section {
    padding: 2.4rem 0;
    min-height: 40rem;
  }
  .container {
    padding: 0rem;
  }
  .hero-img-box {
    width: 100%;
  }
  .hero-description {
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
  }
  .heading-primary {
    font-size: 3.3rem;
    display: inline;
  }
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .video-thumb {
    width: 100%;
    height: 100%;
  }

  header {
    padding: 0 1rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    z-index: 888;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    text-align: center;
    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 1;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    color: darkgrey;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .footer-logo {
    display: none;
  }
  .form-container {
    margin-top: 0;
  }
  .form-container form input {
    width: 25rem;
  }
  .copyright {
    margin-top: 2.8rem;
    font-size: 1.4rem;
  }

  .logo-img {
    height: 7.6rem;
    padding-top: 0.2rem;
  }

  /**/
  .grid--3-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .to-page {
    font-size: 1.8rem;
    padding-top: 1rem;
  }

  .section-calendar {
    display: none;
  }

  .section-hero {
    height: 65vh;
    padding: 0 1.5rem;
  }
  .section-video {
    padding: 5rem 1.5rem;
  }

  .videos {
    row-gap: 2rem;
    padding: 0 2rem;
  }

  .video-cell {
    height: 26rem;
  }

  .video-message {
    height: 8rem;
    padding: 0.5rem 3.6rem;
  }

  .video-message .video-where {
    padding: 0;
    margin-bottom: 0;
  }
  .section-gallery {
    padding: 4.8rem 1rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding: 0 2rem;
  }
  .gallery .gallery_img .photo-mixin {
    height: 13rem;
  }
  .section-wtd {
    padding: 4.8rem 1.5rem;
    font-size: 1.8rem;
  }

  .image-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .photo-mixin,
  .image-gallery a {
    height: 11.5rem;
  }

  .photo-title {
    font-size: 1.3rem;
  }
  .heading-secondary {
    text-align: center;
    font-size: 2.8rem;
  }

  .wtd-lists,
  .wd-lists {
    border: solid 2px var(--lightyellow);
    margin: 2rem;
    padding: 2rem 4rem;
    border-radius: 2rem;
  }

  .grid--3-cols {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
  .section-review {
    padding: 4.8rem 1.5rem;
  }
  .reviews {
    padding: 3rem 1rem 3rem 0rem;
  }
  .review-mixin {
    grid-template-columns: auto;
  }
  .review-movie-poster {
    width: 100%;
    height: 25rem;
    margin-bottom: 1.5rem;
  }
  .review-img-wrapper {
    width: 6rem;
    height: 6rem;
  }

  .review-movie {
    padding: 0 0.5rem;
    row-gap: 1rem;
  }
  .review-mixin a {
    height: 25rem;
  }
  .review-mixin a img {
    justify-self: center;
    height: 25rem;
    padding-bottom: 0.5rem;
  }

  .figure-review {
    grid-template-columns: 1fr 4fr;
    min-height: 10rem;
    padding: 1rem 1.4rem;
    overflow: hidden;
    gap: 0;
  }

  .review-stars .fa,
  .review-stars .far,
  .review-stars .fas {
    font-size: 1.5rem;
  }
  .review-stars {
    justify-content: center;
    width: 100%;
    height: 3rem;
  }
  #bang_score,
  #jo_score {
    font-size: 2.4rem;
  }
  .review-name {
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    padding-top: 0.5rem;
  }
  .review-text {
    font-size: 1.8rem;
    line-height: 0.9;
    text-align: center;
    align-items: center;
    grid-template-rows: 1fr 1.5fr;
  }
  .review-title {
    display: flex;
    margin-bottom: 0;
    font-size: 3.2rem;
    justify-content: center;
  }
  .photo__title {
    font-size: 3rem;
  }

  .photo-watch {
    height: 50vh;
  }
  .login-section {
    height: 60vh;
  }
  .photo-watch-section {
    padding-top: 2rem;
    height: 65vh;
  }
  .backtogallery {
    font-size: 2rem;
    padding: 0.3rem;
  }
  .photo__title {
    font-size: 2rem;
  }
  .todo-Lists {
    grid-template-columns: 1fr;
    width: 95%;
    row-gap: 1rem;
  }
  .lists {
    width: 95%;
    margin-left: 2rem;
    font-size: 2.2rem;
  }
  #videoContainer {
    height: 35vh;
  }
  .video__data {
    padding: 0;
  }
  .video__title {
    font-size: 4rem;
  }

  .video__when {
    font-size: 2rem;
  }
  .edit_delete {
    font-size: 1.3rem;
  }
  #videoContainer .videoControls .videoControls__play .videoControls__time {
    font-size: 1rem;
  }
  #videoContainer .videoControls {
    gap: 5px;
  }
  .videoControls__time {
    display: flex;
  }
  .videoControls__timeline {
    width: 12rem;
  }
  .videoControls__volume input {
    width: 5rem;
  }
  .video__comments,
  .video__comment-form {
    width: 95%;
  }
}
