.review-mixin {
  width: 100%;
  min-height: 50rem;
  margin: 0 auto;
  display: grid;
  column-gap: 6.4rem;
  grid-template-columns: 1.5fr 3fr;
  overflow: hidden;
  font-family: "Gowun Dodum", sans-serif;
}

.review-mixin a {
  height: 100%;
  display: flex;
}

.review-title {
  text-align: center;
}
.review-movie-poster {
  width: 40rem;
  height: 50rem;
}

.review-mixin a img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}

.review-poster img {
  object-fit: contain;
  width: 100%;
}

.review-result {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.review-movieName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
}

.review-movieName .review-page {
  font-size: 2.4rem;
}

.review-movie {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
}

.figure-review {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2.4rem;
  align-items: center;
  background-color: var(--lightyellow);
  padding: 1.2rem 2.4rem;
  border-radius: 11px;
  width: inherit;
  min-height: 18rem;
}

.review-img-wrapper {
  width: 8rem;
  height: 8rem;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.reviewer-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  object-position: 0 15%;
  border-radius: 50%;
}

.review-stars {
  width: 2rem;
  display: flex;
  align-items: center;
  color: var(--purple);
}

.score {
  padding-left: 2rem;
  font-size: 3.2rem;
  color: var(--purple);
  font-weight: 600;
}
.review-text {
  font-size: 3.2rem;
  line-height: 1.3;
  height: 100%;
  display: grid;
  padding: 1rem;
  font-weight: 500;
}
.review-name {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  color: #6f6f6f;
  padding-top: 2rem;
}

.review-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
}

.review-page-mixin {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1.8rem 2.4rem;
  background-color: var(--lightpurple);
  border-radius: 1.5rem;
  height: 28rem;
}

.review-page-poster {
  width: 20rem;
  height: 28rem;
}

.poster-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-page-result {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
}

.review-movieName {
  color: var(--yellow);
  font-size: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-page-avgscore {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15%;
  color: var(--lightyellow);
}

#bang_score,
#jo_score {
  padding-left: 1rem;
}
